@charset "UTF-8";

body{
    background-color: #855018;
    height: 650px;
}
header{
    background-color: #2d95bb;
    height: 165px;
    padding: 0.2%;
    margin: -2% -2% 0% -2%;
    box-shadow: 2px 2px 2px black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;


}
header > p > a {
    text-align: left;
    color: black;
}
main{
    background-color: #bb9974;
    height: 2000px;
    padding: 10px;
    margin: 2%;
    text-justify: auto;
    
}
main > h2#video {
    text-align: center;
}

iframe{
    text-align: center;
}

