@charset "UTF-8";

body{
    background-color: rgb(50, 139, 50);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}

div{
    text-align: center;
    align-items: center;
}  