@charset "UTF-8";

body{
    background-color: #855018;
    margin: 0px;
    text-align: justify;
    
}
header{
    background-color: #2d95bb;
    height: 165px;
    padding: 0.2%;
    margin: -2% -2% 0% -2%;
    box-shadow: 2px 2px 2px black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 2%;

}

header > p {
    text-align: left;
    color: black;
    
}
header > p > a {
    margin-left: 2%;
    color: black;
}
#img{
    text-align: center;
}
main{
    background-color: #bb9974;
    padding: 10px;
    margin: 0.2% 4% 0% 4%;
    text-justify: auto;
}

.um{
    position: relative;
}

#links {
    background-color: #3e62be;
    margin: 6px;
    padding: 10px;
    border-radius: 10px;
    
}
#links > h2 {
    background-color: #1640a3d3;
    margin: -2px;
    padding: 4px;
    border-radius: 10px;
}


iframe{
    background-color: #855018;
    width: 550px;
}

footer {
    background-color: #2d95bb;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    margin: 0px;
    box-shadow: 1% 1% 1% ;
}
#video{
    display: auto;
}