@charset "UTF-8";

body{
    background-color: #855018;
    margin: 0px;
    text-align: justify;
    
}
header{
    background-color: #2d95bb;
    height: 165px;
    padding: 0.2%;
    margin: -2% -2% 0% -2%;
    box-shadow: 2px 2px 2px black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 2%;

}

nav {
    background-color: #3e62be;
    padding: 20px;
    box-shadow: 2px 2px 8px black;
}
nav a{
    font-size: 1.4em;
    color: black;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 1s;
}
a:hover{
    background-color: #2d95bb;
    padding: 4.5px;
    text-decoration: underline;
    border-radius: 6px;
}
main{
    background-color: #bb9974;
    padding: 10px;
    margin: 0.2% 4% 0% 4%;
    text-justify: auto;
}
main aside{
    text-align: center;
}

main > aside.last{
    text-align: left;
}

iframe{
    background-color: #855018;
    width: 550px;
}

footer {
    background-color: #2d95bb;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    margin: 0px;
    box-shadow: 1% 1% 1% ;
}

div.video{
    background-color: #3e62be;
    margin: 0px -10px 30px -10px;
    padding: 20px;
    padding-bottom: 56.5%;
    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 92%;
    height: 92%;
}